.btn {
	@include tr;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: rem(10);
	background-color: $primary;
	color: $w;
	font-size: rem(15);
	font-weight: 700;
	line-height: 1;
	border: rem(1) solid $primary;
	border-radius: $radius;
	padding: clamp-rem(14, 18) clamp-rem(28, 43);
	text-align: center;
	cursor: pointer;

	@include hover {
		background-color: transparent;
		border-color: $primary;
		color: $primary;
	}

	@include focus-active-max {
		background-color: transparent;
		border-color: $primary;
		color: $primary;
	}

	svg {
		flex-shrink: 0;
		width: rem(20);
		height: rem(20);
		transition: none;
	}

	&-secondary {
		background-color: $secondary;
		border-color: $secondary;
		color: $w;

		@include hover {
			background-color: transparent;
			border-color: $secondary;
			color: $secondary;
		}
	
		@include focus-active-max {
			background-color: transparent;
			border-color: $secondary;
			color: $secondary;
		}
	}

	&-white {
		background-color: $w;
		border-color: $w;
		color: $b;

		@include hover {
			background-color: transparent;
			border-color: $w;
			color: $w;
		}
	
		@include focus-active-max {
			background-color: transparent;
			border-color: $w;
			color: $w;
		}
	}

	&-black {
		background-color: $b;
		border-color: $b;
		color: $w;

		@include hover {
			background-color: $w;
			border-color: $b;
			color: $b;
		}
	
		@include focus-active-max {
			background-color: $w;
			border-color: $b;
			color: $b;
		}
	}

	&-sm {
		font-size: rem(14);
		padding: rem(12, 20);
	}

	&-lg {
		font-size: clamp-rem(18, 20);
		padding: clamp-rem(16, 20) clamp-rem(35, 50);
	}
}

.btn-outline {
	background-color: transparent;
	border-color: $primary;
	color: $primary;

	@include hover {
		background-color: $primary;
		border-color: $primary;
		color: $w;
	}

	@include focus-active-max {
		background-color: $primary;
		border-color: $primary;
		color: $w;
	}
}

.btn-outline-secondary {
	background-color: transparent;
	border-color: $secondary;
	color: $secondary;

	@include hover {
		background-color: $secondary;
		border-color: $secondary;
		color: $w;
	}

	@include focus-active-max {
		background-color: $secondary;
		border-color: $secondary;
		color: $w;
	}
}

.btn-outline-black {
	background-color: transparent;
	border-color: $b;
	color: $b;

	@include hover {
		background-color: $b;
		border-color: $b;
		color: $w;
	}

	@include focus-active-max {
		background-color: $b;
		border-color: $b;
		color: $w;
	}
}

// Label styled as button
.btn-label {
	display: inline-flex;
	justify-content: center;
	background-color: $primary;
	color: $w;
	font-size: rem(14);
	line-height: rem(14);
	padding: rem(5 10);
	border-radius: $radius;

	&-secondary {
		background-color: $secondary;
	}
}

input[type="submit"] {
	@extend .btn;
}

// Button Group
.btn-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(15);
}


// Gutenberg buttons
.wp-block-buttons {
    gap: rem(30);
    margin-top: rem(30);

    @include min(lg) {
        margin-top: rem(40);
    }
}

.wp-block-button {
    .wp-element-button,
    a {
        @extend .btn;
    }

    &.is-style-btn-outline {
        .wp-element-button,
        a {
            @extend .btn-outline;
        }
    }

    &.is-style-btn-white {
        .wp-element-button,
        a {
            @extend .btn-white;
        }
    }
}