.site-footer {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	color: $w;
	background: radial-gradient(circle at 75% 50%, #194f6a 0, $primary-dark 100%); //edit1
	border-radius: 0 rem(50) 0 0;
	padding-bottom: clamp-rem(30, 50);

	@include min(lg) {
		border-radius: 0 rem(85) 0 0;
	}

	.footer-vector {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: rem(50);
		height: rem(53);

		@include min(lg) {
			width: rem(155);
			height: rem(163);
		}
	}

	&__top {
		padding: clamp-rem(40, 65) 0;
		border-bottom: rem(1) solid rgba(#29607C, .45);

		.block {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: clamp-rem(20, 40);
		}

		.links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: clamp-rem(20, 40);
			justify-content: center;
		}
	}

	&__middle {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: rem(35) 0 clamp-rem(80, 115);
		flex-direction: column;
		gap: 0 clamp-rem(20, 40);

		@include max(md) {
			align-items: center;
		}

		@include min(md) {
			justify-content: space-evenly;
			flex-direction: row;
		}

		@include min(lg) {
			justify-content: space-between;
		}

		.info,
		.footer-links__container,
		.list {
			padding-top: rem(20);
		}

		.info {
			@include max(md) {
				text-align: center;
			}
		}

		.logo-info {
			display: flex;
			flex-wrap: wrap;
			gap: clamp-rem(40, 80);

			@include max(md) {
				flex-direction: column;
				align-items: center;
				gap: 0;
			}
		}

		.footer-links {
			flex-direction: column;
			gap: rem(10);

			@include max(md) {
				align-items: center;
			}
		}

		.list {
			display: flex;
			flex-direction: column;
			gap: clamp-rem(20, 25);

			@include max(md) {
				margin-top: rem(10);
			}

			img {
				min-width: rem(21);
				max-width: rem(50);
				max-height: rem(50);
				min-height: rem(43);
				margin-bottom: rem(8);
				width: auto;
				height: revert-layer;
			}

			a {
				border-bottom: rem(1) solid $secondary;
				padding-bottom: rem(10);

				@include max(md) {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}

			.title-arrow {
				display: flex;
				align-items: center;
				gap: rem(10);
			}

			svg {
				width: rem(17);
				height: rem(9);
				fill: $secondary;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: clamp-rem(20, 40);
		flex-direction: column;

		@include min(lg) {
			flex-direction: row;
		}

		.footer-links {
			flex-wrap: wrap;
			gap: clamp-rem(10, 30);
		}

		span,
		a {
			font-size: rem(14);
		}

		a {
			opacity: 0.7;
		}
	}

	.footer-links {
		@include unstyled-list;
		display: flex;
		
		li {
			line-height: 1;
		}
	
		a {
			@extend .a-white-to-secondary-color;
		}
	}

	.copyright {
		font-size: rem(14);
	}

	.realizations,
	.images {
		display: flex;
		align-items: center;
		gap: rem(5) clamp-rem(15, 25);
	}
	
	.realizations {
		justify-content: center;
		flex-wrap: wrap;
	}
}



