.site-header {
	width: 100%;
	height: var(--header-height-mobile);
	background-color: $primary;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: transform $time, box-shadow $time;
	border-radius: 0 0 rem(50);

	@include min(lg) {
		height: var(--header-height);
		border-radius: 0 0 rem(85);
	}

	.header-vector {
		position: absolute;
		top: 100%;
		left: 0;
		width: rem(16);
		height: rem(14);
		display: none;

		@media (min-width: 1700px) {
			left: 0;
			width: rem(165);
			height: rem(150);
			display: block;
		}
	}

	.scroll-down & {
		@include min(lg) {
			transform: translateY(- rem(55));
		}
	}

	.scroll-down &,
	.scroll-up & {
		box-shadow: 0 rem(10 10) rgba($b, 0.1);
	}

	.site-logo {
		position: relative;
		z-index: 3;
		margin-top: rem(35);
		height: 100%;

		img {
			position: relative;
			z-index: 10;
		}

		svg {
			position: absolute;
			top: 34%;
			width: rem(40);
			height: rem(26);
			z-index: 9;

			@include max(lg) {
				transform: scale(0.5);
			}

			@include min(lg) {
				top: 50%;
			}

			&.logo_vector-right {
				right: -28px;

				@include min(lg) {
					right: -34px;
				}
			}

			&.logo_vector-left {
				left: -28px;

				@include min(lg) {
					left: -34px;
				}
			}
		}
	}

	.list-info {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0 clamp-rem(30, 50);

		& > span,
		& > .contact-email {
			position: relative;
			padding: rem(15 0);
			color: $w;
			font-size: rem(13);

			&:after {
				position: absolute;
				content: '';
				width: rem(1);
				height: 100%;
				top: 0;
				left: calc(-1 * clamp-rem(15, 25));
				border-left: rem(1) solid $blue-45;
			}
		}

		& > span:first-of-type:after {
			display: none;
		}

		& > .contact-email {
			@extend .a-white-to-secondary-color;
		}
	}

	.top-header {
		border-bottom: rem(1) solid $blue-45;

		.container {
			display: flex;
			flex-direction: column;

			@include min(md) {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}
	}

	.bottom-header {
		.container {
			display: flex;
			gap: rem(20);
			justify-content: space-between;

			@include min(lg) {
				max-height: var(--header-scrolled-height);
			}
		}

		&__right {
			display: flex;
			align-items: center;
			gap: clamp-rem(30, 55);
			margin: rem(19 0);

			@include min(lg) {
				height: rem(65);
			}
		}

		&__right-mobile {
			display: flex;
			align-items: center;
			gap: rem(20);
			max-height: var(--header-height-mobile);

			@include min(lg) {
				display: none;
			}
		}

		.list-info {
			padding: 0 rem(10);
			justify-content: center;

			& > span,
			& > .contact-email {
				padding: rem(5 0);
				color: $primary;

				&:after {
					display: none;
				}
			}

			& > span:first-of-type:after {
				display: none;
			}
		}
	}

	.number-phone {
		padding: rem(16) rem(20);
		min-width: rem(200);
		max-height: rem(65);

		@include max(lg) {
			width: 100%;
			border-radius: 0;
		}

		svg {
			width: rem(16);
			height: rem(16);
		}

		&__block {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(3);
		}
	}

	&__bottom {
		position: relative;
		width: 100%;
		padding: rem(45) 0 rem(35);

		@include min(lg) {
			padding: rem(35) 0;
		}

		.container {
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: rem(10);
			flex-direction: column;

			@include min(md) {
				gap: rem(20);
				flex-direction: row;
				align-items: center;
			}
		}

		@include max(md) {
			form {
				order: 1;
			}
		}

		.woo-items {
			display: flex;
			align-items: center;
			gap: rem(20);
		}
	}

	.translations {
		display: flex;
		align-items: center;
		list-style: none;

		a {
			color: $w;
			font-weight: 700;
		}

		li:last-of-type {
			order: 3;
		}

		.switch-translations {
			position: relative;
			display: inline-block;
			width: rem(60);
			height: rem(25);
			margin: 0 rem(10); 
			order: 2;
	
			input {
				opacity: 0;
				width: 0;
				height: 0;
	
				&:checked + .slider:before {
					transform: translateX(31px);
				}
			}
		}
		
		.slider {
			position: absolute;
			cursor: pointer;
			inset: 0;
			background-color: transparent;
			border: rem(1) solid $w;
			border-radius: rem(13);
	
			&:before {
				position: absolute;
				content: "";
				height: rem(17);
				width: rem(17);
				left: rem(5);
				bottom: rem(3);
				background-color: $secondary;
				transition: $time transform;
				border-radius: 50%;
			}
		}
		
		// input:checked + .slider {
		// 	background-color: $red;
		// } //edit1
	}
}

.site-logo {
	flex-shrink: 0;
	display: block;
	line-height: 0;
	transition: opacity $time;

	img {
		width: auto;
		height: rem(80);
		border: rem(2) solid $primary;
		border-radius: 50%;

		@include min(lg) {
			height: rem(133);
		}
	}
}

// Mobile menu toggle
.icon-burger {
	display: inline-block;
	flex-shrink: 0;
	width: rem(30);
	height: rem(20);
	cursor: pointer;
	position: relative;
	z-index: 110;

	@include min(lg) {
		display: none;
	}

	.is-menu-open & {
		i {
			background-color: transparent;

			&:before {
				transform: rotate(-45deg) translateY(rem(-4));
			}

			&:after {
				transform: rotate(47deg) translateY(rem(4));
			}
		}
	}

	i {
		display: block;
		width: 100%;
		height: rem(3);
		background-color: $w;
		position: absolute;
		top: calc(50% - rem(1));
		left: 0;
		transition: transform $time;
		border-radius: rem(4);

		&:before,
		&:after {
			@include tr;
			content: '';
			display: block;
			width: 100%;
			height: rem(3);
			background-color: $w;
			transform-origin: right center;
			position: absolute;
			right: 0;
			border-radius: rem(4);
		}

		&:before {
			top: rem(-8);
		}

		&:after {
			top: rem(8);
		}
	}
}