.site-header-1 { //edit1 - remove -1
	width: 100%;
	height: var(--header-height);
	background-color: $w;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding: rem(5) 0 rem(15);
	transition: transform $time, box-shadow $time;

	@include min(xl) {
		padding-top: rem(15);
		// height: var(--header-height-xl); //edit1 create a new height
	}

	//IF you use only scroll down  - edit1
	.is-scrolled & {
		height: var(--header-scrolled-height);
		box-shadow: 0 10px 10px rgba($b, 0.1);
	}

	//ELSE - if you use scroll up and down - edit1
	// .scroll-down & {
	// 	transform: translate3d(0, - rem(105), 0);

	// 	@include min(lg) {
	// 		transform: translate3d(0, - rem(110), 0);
	// 	}
	// }

	// .scroll-down &,
	// .scroll-up & {
		// box-shadow: 0 rem(10 10) rgba($b, 0.1);
	// }

	.site-logo {
		z-index: 3;
	}

	.top-header {
		display: flex;
		flex-direction: column;

		@include min(xl) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&-left, &-right {
			display: flex;
			align-items: center;
		}

		&-left {
			gap: rem(55);

			@include max(xl) {
				justify-content: space-between;
				margin-bottom: rem(15);
			}

			@include max(md) {
				justify-content: center;
			}
		}

		&-right {
			@include max(xl) {
				gap: rem(25);
				justify-content: space-between;
			}

			.right-block {
				display: flex;
				align-items: center;
				gap: clamp-rem(25, 35);
			}
		}
	}

	.bottom-header {
		position: relative;
		margin-top: rem(10);
		padding-top: rem(15);
		display: flex;
		align-items: center;
		gap: rem(20);
		justify-content: center;

		@include min(xl) {
			justify-content: space-between;
			margin-top: rem(15);
		}

		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: rem(1);
			top: 0;
			left: 0;
			background-color: $secondary;
		}
	}

	//check if need edit1
	.number_phone {
		font-weight: 600;
		font-size: rem(22);
		color: $black;
		align-items: center;
		gap: rem(10);

		svg {
			width: rem(20);
			height: rem(22);
			stroke: $black;
			transition: stroke $time;
		}

		@include hover {
			color: $primary;
			
			svg {
				stroke: $primary;
			}
		}
		
		@include focus-active-max {
			color: $primary;

			svg {
				stroke: $primary;
			}
		}

		@include max(md) {
			display: block;
			margin-top: rem(20);
			text-align: center;
			background-color: $primary;
			color: $w;
			padding: rem(10 0);

			svg {
				stroke: $w;
			}

			&:active,
			&:focus {
				color: $black;
	
				svg {
					stroke: $black;
				}
			}
		}
	}
}

.site-logo {
	flex-shrink: 0;
	display: block;
	line-height: 0;
	transition: opacity $time;

	img {
		width: auto;
		height: rem(45);
	}
}

// Mobile menu toggle
.icon-burger {
	display: inline-block;
	flex-shrink: 0;
	width: rem(30);
	height: rem(20);
	cursor: pointer;
	position: relative;
	z-index: 110;

	@include min(xl) {
		display: none;
	}

	.is-menu-open & {
		i {
			background-color: transparent;

			&:before {
				transform: rotate(-45deg) translateY(rem(-4));
				background-color: $primary;
			}

			&:after {
				transform: rotate(47deg) translateY(rem(4));
				background-color: $primary;
			}
		}
	}

	i {
		display: block;
		width: 100%;
		height: rem(3);
		background-color: $black;
		position: absolute;
		top: calc(50% - rem(1));
		left: 0;
		transition: transform $time;
		border-radius: rem(4);

		&:before,
		&:after {
			@include tr;
			content: '';
			display: block;
			width: 100%;
			height: rem(3);
			background-color: $black;
			transform-origin: right center;
			position: absolute;
			right: 0;
			border-radius: rem(4);
		}

		&:before {
			top: rem(-8);
		}

		&:after {
			top: rem(8);
		}
	}
}
