// Header menu
.main-nav {
	@include max(lg) {
		width: 100%;
		height: calc(var(--vh, 1vh) * 100 - var(--header-height)); // tweak for mobiles
		background-color: $w;
		overflow-y: auto;
		padding: rem(20) 0 rem(30);
		position: fixed;
		top: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		margin-top: var(--header-height);
	}

	@include min(lg) {
		display: flex;
		align-items: center;
		gap: clamp-rem(20, 55);
	}

	.is-menu-open & {
		opacity: 1;
		visibility: visible;
		z-index: 2;
	}
}

.main-menu {
	@include unstyled-list;
	display: flex;
	flex-direction: column;
	gap: clamp-rem(20, 55);

	@include min(lg) {
		flex-direction: row;
		align-items: center;
	}

	&__container {
		@extend .container;

		@include min(lg) {
			max-width: unset;
			padding-right: 0;
			padding-left: 0;
		}
	}

	> li {
		position: relative;
		flex-shrink: 0;
		display: block;

		@include min(lg) {
			display: flex;
			align-items: center;
			height: var(--header-scrolled-height);
		}

		&:before {
			position: absolute;
			content: '';
			width: rem(12);
			height: rem(12);
			border-radius: 50%;
			background-color: $secondary;
			border: rem(2) solid $w;
			bottom: - rem(6);
			left: 50%;
			transform: translateX(-50%);
			display: none;
		}

		&.menu-item-has-children {
			padding-right: rem(20);
			position: relative;

			&:after {
				@include tr;
				content: '';
				width: rem(16);
				height: rem(14);
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z' fill='%23df0000'/%3E%3C/svg%3E") no-repeat 50% / contain;
				position: absolute;
				top: 0.6em;
				right: 0;

				@include min(lg) {
					top: calc(50% - rem(7));
				}
			}

			@include hover {
				.sub-menu {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}

				&:after {
					transform: rotateZ(180deg);
				}
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		&.current_page_item {
			&:before {
				display: block;
			}
			
			& > a {
				text-shadow: 0.1px 0.1px white,
				-0.1px 0.1px white,
				0.1px -0.1px white,
				-0.1px -0.1px white;
			}
		}
		
		> a {
			color: $w;
			transition: $time text-shadow;

			@include hover {
				text-shadow: 0.1px 0.1px white,
				-0.1px 0.1px white,
				0.1px -0.1px white,
				-0.1px -0.1px white;
			}
		}
	}

	.sub-menu {
		@include unstyled-list;
		width: 100%;
		padding-top: rem(5);
		display: none;

		@include min(lg) {
			display: block;
			min-width: rem(200);
			background-color: $primary;
			padding-bottom: rem(5);
			position: absolute;
			top: 100%;
			left: 0;
			transform: translateY(rem(10));
			opacity: 0;
			visibility: hidden;
			transition: all $time;
		}

		li {
			width: 100%;
			padding: rem(5 10 5 15);

			a {
				color: $color-text;
				transition: text-shadow $time;

				@include min(lg) {
					color: $w;
				}

				@include hover {
					color: $w;
					text-shadow: -0.025em 0 0.025em $w, 0.025em 0 0.025em $w;
				}

				@include focus-active-max {
					color: $primary;
				}
			}
		}
	}
}
